<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576298614511-papp5plukmq4c0c4tc6ofcjf053jioic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576298614511-papp5plukmq4c0c4tc6ofcjf053jioic</string>
	<key>API_KEY</key>
	<string>AIzaSyA2hZ8OdFiwNjCOCx0QzPKwZRzlXCsWP8o</string>
	<key>GCM_SENDER_ID</key>
	<string>576298614511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eye.eyeCan</string>
	<key>PROJECT_ID</key>
	<string>eye-can-60b59</string>
	<key>STORAGE_BUCKET</key>
	<string>eye-can-60b59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576298614511:ios:348203d0a4494915d6251a</string>
</dict>
</plist>